@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-museo-moderno);
}

*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  background: #f1f8f5;
}

/* Specific font assignments */
p {
  font-family: var(--font-poppins), sans-serif;
}

h1, h2 {
  font-family: var(--font-museo-moderno), sans-serif;
}

html {
  scroll-behavior: smooth;
}


.startup {
  background-attachment: fixed;
}


/* Add to your global.css or tailwind.css */
@keyframes float {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}